@import 'imports';

// 480     Pixel
// 768     Pixel
// 1024    Pixel

$primary-color: var(--todoPrimeColor);
$primary-color-lighten: var(--todoPrimeColorLighten);
$primary-color-darken: var(--todoPrimeColorDarken);
$secondary-color: var(--todoSecondColor);
$white: var(--todoWhite);
$black: var(--todoBlack);
$darkgray: var(--todoDarkGray);
$gray: var(--todoGray);
$success: var(--todoSuccess);
$alert: var(--todoAlert);
$goldenlineargradient: var(--todoGoldLinearGradient);

$appMaxWidth: 480px;

* {
    box-sizing: border-box;
}

body {
    --todoPrimeColor: #D4AF37;
    --todoPrimeColorLighten: #E0CA36;
    --todoPrimeColorDarken: #544616;
    --todoSecondColor: #60157e;
    --todoWhite: #ffffff;
    --todoBlack: #000000;
    --todoDarkGray: #121212;
    --todoGray: #333333;
    --todoSuccess: #3adb76;
    --todoAlert: #cc4b37;
    --todoGoldLinearGradient: linear-gradient(145deg, #AE8625, #F7EF8A, #D2AC47, #EDC967);
    margin: 0;
    background-color: $darkgray;
}

.display-flex {
    display: flex;
}

.flex-wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;

    .flex-2 {
        width: 50%;
        flex: 1 1 50%;

        &:first-child {
            padding-right: 10px;
        }

        &:nth-child(2) {
            padding-left: 10px;
        }
    }

    .flex-1 {
        width: 100%;
        flex: 1 1 100%;
    }
}